.about-body {
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

.about-box {
  max-width: 75%;
  min-height: 35%;
  background-color: $color-2;
  border-radius: 0.5rem;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;

  ul {
    color: $color-4;
    margin-left: 1rem;
    list-style-position: inside;
  }

  li {
    color: $color-3;
    list-style-type: circle;
    margin: 0.25rem 1.25rem 0 0;
  }

  a {
    background-color: $color-1;
    &:hover {
      background-color: $color-3;
      color: $color-2;
    }
  }
}

.about-title {
  margin: 0;
  text-align: center;
  color: $color-4;
}

.about-subtitle {
  margin: 0;
  text-align: center;
  color: $color-3;
  font-size: 1.5rem;
  font-weight: bold;
}

.about-text {
  margin: 1rem;
  text-align: justify;
  color: $color-3;
}

.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 75%;
  margin: 1rem auto;
}

.about-card {
  height: 100%;
  background-color: $color-2;
  border-radius: 0.5rem;
  justify-content: center;
  margin: 1rem auto;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  transition: transform 0.3s ease;

  p {
    text-align: justify;
    .card-title {
      text-align: center;
    }
  }
}
