.header {
  width: 100vw;
  overflow: auto;
  padding: 32px;
  height: 50vh;
  min-height: 50%;

  div-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    background-color: $color-4;
    color: $color-2;
    padding: 15px;
    //display: inline-block;
    // position: absolute;
    // right: 10px;
    // bottom: 10px;
    border-radius: 15px;
  }
}
