.header {
  padding: 32px;
  text-align: center;
  height: 30vh;
  min-height: 100px;
  background: url(https://picsum.photos/1920) center/cover;

  h3 {
    background-color: $color-4;
    color: $color-2;
    padding: 15px;
    display: inline-block;
    border-radius: 15px;
  }
}
