.MovieDetails {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba($color: #000000, $alpha: 0.75);
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  border-radius: 5px;
}

.popup .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-weight: bold;
}

.popup .favorite-btn {
  font-weight: bold;
}
