.popup {
  position: relative;
  padding: 32px 16px 16px;
  width: 100%;
  max-width: 375px;
  background-color: $color-2;
  border-radius: 5px;

  div {
    text-align: center;
  }

  img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
  }

  h3 {
    font-size: 1.5em;
    color: $color-3;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  span {
    background-color: $color-5;
    color: $color-3;
    font-size: 0.8em;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
  }

  p {
    margin-top: 15px;
    color: $color-4;
  }

  h2 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.5em;
    font-weight: normal;
    color: $color-2;
  }

  .h2-link {
    margin-top: 20px;
  }

  .btn {
    color: $color-2;
    background-color: $color-3;
    padding: 10px;
    margin-top: 15px;
    &:hover {
      cursor: pointer;
      font-weight: bold;
      svg {
        transform: scale(1.1);
      }
    }

    svg {
      fill: $color-2;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease;
    }
  }

  .btn-fav-on {
    svg {
      fill: $color-7;
    }
  }

  .btn-fav-off {
    svg {
      fill: $color-2;
    }
  }
}

.popup .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  stroke: $color-3;
  &:hover {
    cursor: pointer;
  }
}
