.topnav {
  min-width: 25%;
  padding: 0 10px 0 0;
  overflow: hidden;
  background-color: $color-1;
}

.topnav-right {
  float: right;
  max-width: 85%;
}

.topnav a {
  float: left;
  color: $color-4;
  text-align: center;
  padding: 1.5em 0.5em 1.25em 0.5em;
  text-decoration: none;
  font-size: 1em;
}

.topnav a:hover::after {
  width: 100%;
}

.topnav a::after {
  content: "";
  display: block;
  width: 0px;
  height: 3px;
  background: $color-3;
  transition: 0.25s;
}

.topnav a.active {
  color: $color-2;
  background: $color-3;
}

.topnav-left {
  color: $color-1;
  background: $color-1;
}

.topnav-left a {
  font-family: $font-2;
  font-size: 2em;
  font-weight: bold;
  text-shadow: $color-2 0.025em 0.025em;
  margin: 0;
  padding: 0.3em 0.5em 0.2em 0.5em;
  color: $color-3;
  &:hover {
    background: $color-1;
  }
  &::after {
    background: $color-1;
  }
}
