@font-face {
  font-family: "Roboto";
  src: url(./../assets/Roboto-Regular.ttf);
}
$font-1: "Roboto", sans-serif;

@font-face {
  font-family: "Yellowtail";
  src: url(./../assets/Yellowtail-Regular.ttf);
}
$font-2: "Yellowtail", cursive;

$color-1: #f0ba0a;
$color-2: #e9e9e9;
$color-3: #202947;
$color-4: #202020;
$color-5: #ecad00;
$color-6: #020202;
$color-6a: #02020290;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-2;
  background-color: $color-6;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  margin: 15px;
  color: $color-5;
}

.movie-list-title {
  margin: 0;
  padding: 20px;
  text-align: center;
}

h3 {
  margin: 0 5px;
  color: $color-5;
}

h4 {
  margin: 10px 5px;
  color: $color-5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-4;
  cursor: pointer;
}

a:visited {
  color: $color-3;
}

p {
  margin: 10px 5px;
  color: $color-4;
}
