@font-face {
  font-family: "Roboto";
  src: url(./../assets/Roboto-Regular.ttf);
}
$font-1: "Roboto", sans-serif;

$color-1: #f0ba0a;
$color-2: #e9e9e9;
$color-3: #202947;
$color-4: #202020;
$color-5: #ecad00;

body {
  margin: 0;
  font-family: $font-1;
  color: $color-3;
  background-color: $color-2;
}

h1 {
  margin: 15px;
  color: $color-5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-4;
  cursor: pointer;
}

a:visited {
  color: $color-3;
}
